<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>neosiae in cyberspace</title>
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <main class="intro">
    <div class="about-me">
      <h1 class="full-name">Denis Kotlica</h1>
      <span class="title">Software Developer</span>
    </div>
    <div class="social">
      <a href="https://twitter.com/neosiae">Twitter</a>
      <a href="https://github.com/neosiae">GitHub</a>
    </div>
  </main>
  <section class="posts">
    <h1 class="heading">Posts</h1>
    {posts}
  </section>
</body>

</html>